{% extends 'base.html.twig' %}

{% block title %}Hello CoursesController!{% endblock %}

{% block body %}
<div class="container">
		<div class="row"  id="app">
			<div class="offset-3 col-6">
					<h1> Liste de courses</h1>
						<br>
						<div class="row">
							<div class="col-6">
							{{ form_start(formArticle,{'action':path('add_article')}) }} {# <form ...> #}

                            {{ form_widget(formArticle.nom) }} {# <form ...> #}
    


							</div>
							<div class="col-2">
								<button @click="ajouter()" class="btn btn-success">
									<i class="fa fa-plus"></i>
								</button>
							</div>
                            {{ form_end(formArticle) }} {# </form> #}
						</div>
				<br>

				<table class="table table-striped">
						<thead>
							<tr><th>Item</th>
							<th>Action</th>
						</tr>
					</thead>
						<tbody>

             {% for item in list_courses %}
      
                   <tr>
     
                       <td {% if item.estAchete %}class="barre" {% endif %}>
								{{ item.nom }}
					   </td>
						
                        <td>
									<a 	href="{{ path('update_article',{id: item.id}) }}"><button 
								
									class="btn btn-primary">
										<i class="fa fa-check"></i>
									</button></a>
										&nbsp;
									<a 	href="{{ path('delete_article',{id: item.id}) }}"><button 
									
									class="btn btn-danger del">
											<i class="fa fa-trash"></i>
									</button>
                                    </a>
						</td>
                    </tr>
   
            {% endfor %}
     
							{# <tr v-for="(item,index) in tableau"
							v-bind:class="{'table-danger' : item.status }"
							>
								
							</tr> #}
						</tbody>
					</table>
				
			</div>
		
		</div>
	</div>
{% endblock %}
